.gradient-background{
    background: #5c6e60; /* Old browsers */
    background: -moz-linear-gradient(left,  #5c6e60 0%, #5c6e60 0%, #8d9a90 25%, #8d9a90 50%, #8d9a90 75%, #5c6e60 100%, #5c6e60 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5c6e60), color-stop(0%,#5c6e60), color-stop(25%,#8d9a90), color-stop(50%,#8d9a90), color-stop(75%,#8d9a90), color-stop(100%,#5c6e60), color-stop(100%,#5c6e60)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #5c6e60 0%,#5c6e60 0%,#8d9a90 25%,#8d9a90 50%,#8d9a90 75%,#5c6e60 100%,#5c6e60 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #5c6e60 0%,#5c6e60 0%,#8d9a90 25%,#8d9a90 50%,#8d9a90 75%,#5c6e60 100%,#5c6e60 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #5c6e60 0%,#5c6e60 0%,#8d9a90 25%,#8d9a90 50%,#8d9a90 75%,#5c6e60 100%,#5c6e60 100%); /* IE10+ */
    background: linear-gradient(to right,  #5c6e60 0%,#5c6e60 0%,#8d9a90 25%,#8d9a90 50%,#8d9a90 75%,#5c6e60 100%,#5c6e60 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6e60', endColorstr='#5c6e60',GradientType=1 ); /* IE6-9 */
}

.header {
background-color: #3C3D3F !important;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
height: 50px;
position: relative;
z-index: 100;
text-align: center;
vertical-align:middle;
text-shadow: 15px auto 8px rgba(0,0,0,0.6);    
}	

.header2 {
    background-color: #525353 !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    height: 50px;
    position: relative;
    z-index: 100;
    text-align: center;
    vertical-align:middle;
    text-shadow: 15px auto 8px rgba(83, 83, 82, 0.52); 
}

a {
    color: #fff; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    vertical-align: middle;
       text-align: center;
}

.center {
    width: 400px; /* Ширина элемента в пикселах */
    padding: 20px; /* Поля вокруг текста */
    margin: ; /* Выравниваем по центру */
}

.center-slyder {
    width: 1000px; /* Ширина элемента в пикселах */
    margin: auto; /* Выравниваем по центру */
}

.brd {
    border: 2px double black; /* Параметры границы */
}

.sldrCenter {
    display:block; 
    margin:10px 20px 10px;
}

body:after {
    content: "RealProject JavaRush © 2014-Till Now All rights reserved.";
    display: block; margin-top: 2em; text-align: center;
}