<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Welcome to the Spring MVC Quickstart application! Congrats! You just started!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div style="margin-left:45px; background-color: #F8F8F8; width: 600px ">


        <dl>
            <dt><h3>Check Box</h3></dt>
            <dt th:text="${question.title}">header</dt>
            <dt th:text="${question.text}">question</dt>

            <dd>
                <input type="text" />
            </dd>

            <br />
            <br />

            <dt th:text="${'Created by ' + question.createdBy.userName}">creator</dt>
            <dt th:text="${#dates.format(question.createDate, 'dd-MMM-yyyy')}">2014</dt>

        </dl>

</div>

</body>
</html>